@font-face{
    font-family: cursed;
    src: url(cursedTimerUlil-Aznm.ttf)
}


body {
    margin: 0;
}

.container {
    
    display: flex;
    justify-content: space-between;
    background-color: #aa0505;
    margin: 20px;
    border-radius: 10px;
    border: 5px solid black;
    width: 600px;
    height: 385px;
    position: relative;
    
}
    
 .h3{
position: absolute;
width: 149px;
height: 36px;
margin: 0 auto;
left: 85px;
top: 5px;
font-family: verdana;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #EEEEEE;


}   
 
#h3{
  margin-top: 0; 
position: absolute;
width: 149px;
height: 36px;
top: 5px;
font-family: verdana;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #ffffff;


 }
  
  
#home-score{
width: 155px;
height: 120px;
border-radius: 5px;
position: absolute;
left: 82px;
top: 20px;
background: black;
font-family: cursed;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;


text-align: center;
color: #aa0505;
}



#guest-score{
position: absolute;
border-radius: 5px;
width: 155px;
height: 120px;
left: 337pxpx;
top: 20px;
font-style: normal;
background: black;
font-family: cursed;
font-weight: 400;
font-size: 90px;
line-height: 127px;
text-align: center;
color: #aa0505;
}

.button{
    margin-left: 5px;
}

    
button {
    padding: 15px;
    border-radius: 5px;
    margin-top: 250px;
    border: 3px solid white;
    background: inherit;
    margin-bottom: 500px;
    color: white;
    font-family: cursed;

}

button:hover{
    color: rgba(0, 0, 0, 0.767);
}


@media(max-width:460px){

    body{
      
        margin-right:0.5em;
    }
    .container{
        width: 100%;
        margin: 0;
    }

    #home-score, .h3{
        left: 20px;
        
    }

    #h3, #guest-score{
        margin-left: 100px;
        right: 20px;
    }

   
button{
    padding: 5px;
}

.new-game{
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}


}



